<!--
Copyright (c) 2020, NI2R.
-->
<launch>
<!-- launch test goblet -->
   <include file="$(find arduinoProg)/launch/runMe.launch" >
   </include>

	<node name="Odrive" pkg="ni2r_ros" type="DriverOdriveROS.py" output="screen" />
	<node name="Main" pkg="ni2r_ros" type="MainROS.py" output="screen" />
	<!--<node name="serialNode" pkg="rosserial_python" type="serial_node.py" output="screen" />-->
 
</launch>
