<!--
Copyright (c) 2020, NI2R.
-->
<launch>
   <include file="$(find arduinoProg)/launch/runMe.launch" >
   </include>

   <include file="$(find ni2r_ros)/launch/_RPLidar.launch" >
   </include>

   <include file="$(find video_stream_opencv)/launch/camera.launch" >
	  	<arg name="camera_name" value="CamGoblet" />
	  	<arg name="video_stream_provider" value="1" />
		<arg name="width" value="1280" />
		<arg name="height" value="720" />
   </include>
	<node name="interfaceROSGoblet" pkg="vision_goblet" type="interfaceROS.py" output="screen" />

	<node name="Odrive" pkg="ni2r_ros" type="DriverOdriveROS.py" output="screen" />
	<node name="Main" pkg="ni2r_ros" type="MainROS.py" output="screen" />
 
</launch>
